# dependencies
**/node_modules/

# build outputs
**/dist/
**/build/

# misc
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.*

# backend data (avoid committing personal submissions)
sparkle-clean-server/data/contacts.json
